<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.solution.formdict.dict.mapper.SysDictItemMapper">

    <sql id="baseWhere">
        where is_deleted = 0
    </sql>

    <!-- 分页列表 -->
    <select id="selectSysDictItemPageList"
            resultType="com.cv.solution.formdict.dict.pojo.vo.SysDictItemPageVO">
        select
            dict_code AS dictCode,
            item_value AS itemValue,
            item_name AS itemName,
            item_sort AS itemSort,
            parent_value AS parentValue,
            tag_color AS tagColor,
            status AS status,
            remark AS remark
        from
        sys_dict_item
        <include refid="baseWhere"/>

            order by create_time desc

    </select>

	<resultMap id="BaseResultMap" type="com.cv.solution.formdict.dict.pojo.po.SysDictItemPO">
        <id column="id" property="id" />
		<result column="dict_code" property="dictCode" />
		<result column="item_value" property="itemValue" />
		<result column="item_name" property="itemName" />
		<result column="item_sort" property="itemSort" />
		<result column="parent_value" property="parentValue" />
		<result column="tag_color" property="tagColor" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="is_deleted" property="isDeleted" />
	</resultMap>
	<sql id="Base_Column_List">
        id, dict_code, item_value, item_name, item_sort, parent_value, tag_color, status, remark, create_time, update_time, created_by, updated_by, is_deleted
	</sql>
	
</mapper>