<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.solution.formdict.dict.mapper.SysDictTypeMapper">

    <sql id="baseWhere">
        where is_deleted = 0
    </sql>

    <!-- 分页列表 -->
    <select id="selectSysDictTypePageList"
            resultType="com.cv.solution.formdict.dict.pojo.vo.SysDictTypePageVO">
        select
            dict_code AS dictCode,
            dict_name AS dictName,
            description AS description,
            status AS status,
            is_system AS isSystem
        from
        sys_dict_type
        <include refid="baseWhere"/>

            order by create_time desc

    </select>

	<resultMap id="BaseResultMap" type="com.cv.solution.formdict.dict.pojo.po.SysDictTypePO">
        <id column="id" property="id" />
		<result column="dict_code" property="dictCode" />
		<result column="dict_name" property="dictName" />
		<result column="description" property="description" />
		<result column="status" property="status" />
		<result column="is_system" property="isSystem" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="is_deleted" property="isDeleted" />
	</resultMap>
	<sql id="Base_Column_List">
        id, dict_code, dict_name, description, status, is_system, create_time, update_time, created_by, updated_by, is_deleted
	</sql>
	
</mapper>