<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.simulator.videoosd.sample.mapper.DeviceTelemetryMapper">

    <select id="selectReplayRows" resultType="com.cv.simulator.videoosd.sample.pojo.entity.DeviceTelemetryEntity">
        select
            id,
            task_id,
            device_sn,
            attitude_head,
            attitude_pitch,
            attitude_roll,
            height,
            latitude,
            longitude,
            mode_code,
            track_id,
            publish_time
        from device_telemetry_sub
        where is_deleted = 0
          and publish_time is not null
        <if test="requireTaskIdMatch and taskId != null">
          and task_id = #{taskId}
        </if>
        <if test="publishTimeStart != null">
          and publish_time <![CDATA[ >= ]]> #{publishTimeStart}
        </if>
        <if test="publishTimeEnd != null">
          and publish_time <![CDATA[ <= ]]> #{publishTimeEnd}
        </if>
        order by publish_time asc, id asc
    </select>

</mapper>
