<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.solution.formdict.form.mapper.TplTemplateFieldOptionMapper">

    <sql id="baseWhere">
        where is_deleted = 0
    </sql>

    <!-- 分页列表 -->
    <select id="selectTplTemplateFieldOptionPageList"
            resultType="com.cv.solution.formdict.form.pojo.vo.TplTemplateFieldOptionPageVO">
        select
            id,
            template_id AS templateId,
            field_id AS fieldId,
            option_code AS optionCode,
            option_name AS optionName,
            option_value AS optionValue,
            version AS version,
            sort_order AS sortOrder,
            status AS status
        from
        tpl_template_field_option
        <include refid="baseWhere"/>

        order by create_time desc

    </select>

	<resultMap id="BaseResultMap" type="com.cv.solution.formdict.form.pojo.po.TplTemplateFieldOptionPO">
        <id column="id" property="id" />
		<result column="template_id" property="templateId" />
		<result column="field_id" property="fieldId" />
		<result column="option_code" property="optionCode" />
		<result column="option_name" property="optionName" />
		<result column="option_value" property="optionValue" />
		<result column="version" property="version" />
		<result column="sort_order" property="sortOrder" />
		<result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="is_deleted" property="isDeleted" />
	</resultMap>
	<sql id="Base_Column_List">
        id, template_id, field_id, option_code, option_name, option_value, version, sort_order, status, create_time, update_time, created_by, updated_by, is_deleted
	</sql>
	
</mapper>