<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cv.solution.formdict.form.mapper.TplTemplateDataMapper">

    <sql id="baseWhere">
        where is_deleted = 0
    </sql>

    <!-- 分页列表 -->
    <select id="selectTplTemplateDataPageList"
            resultType="com.cv.solution.formdict.form.pojo.vo.TplTemplateDataPageVO">
        select
            id,
            template_id AS templateId,
            record_id AS recordId,
            field_code AS fieldCode,
            field_value AS fieldValue
        from
        tpl_template_data
        <include refid="baseWhere"/>

        order by create_time desc

    </select>

	<resultMap id="BaseResultMap" type="com.cv.solution.formdict.form.pojo.po.TplTemplateDataPO">
        <id column="id" property="id" />
		<result column="template_id" property="templateId" />
		<result column="record_id" property="recordId" />
		<result column="field_code" property="fieldCode" />
		<result column="field_value" property="fieldValue" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="is_deleted" property="isDeleted" />
	</resultMap>
	<sql id="Base_Column_List">
        id, template_id, record_id, field_code, field_value, create_time, update_time, created_by, updated_by, is_deleted
	</sql>
	
</mapper>